#red {
  color: red;
}

#green {
  color: green;
}


body {
    background: url("background.jpg") no-repeat;
    color: black;
    background-size: cover;
    font-family: monospace;
    font-size: 18px;
}

input {
  border: 1px solid black;
}
